footer.footer 
  .container 
    .footer-top 
      .footer-column 
        a(href= "index.html").footer-heading.footer-heading--logo MoGo 
        p.footer-desc.text Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus ut obcaecati fuga delectus quisquam qui rem ipsum nobis, molestias iste aperiam expedita soluta quod itaque eveniet iusto! Asperiores, nobis a!
        p.footer-follower <strong>15k</strong> followers 
        .footer-social 
          span.text.text-light Follow us:
          .footer-social-list 
            a(href= "#").footer-social-icon
              i.fab.fa-facebook
            a(href= "#").footer-social-icon
              i.fab.fa-twitter
            a(href= "#").footer-social-icon
              i.fab.fa-instagram
            a(href= "#").footer-social-icon
              i.fab.fa-pinterest
            a(href= "#").footer-social-icon
              i.fab.fa-google-plus
            a(href= "#").footer-social-icon
              i.fab.fa-youtube
            a(href= "#").footer-social-icon
              i.fab.fa-dribbble
            a(href= "#").footer-social-icon
              i.fab.fa-tumblr
        form.footer-form(action="javascript:void(0)")
          input(type="email" placeholder="Your email...").footer-form-input
          button.footer-form-button Subscribe
      .footer-column 
        h3.footer-heading Blogs 
        .footer-blog 
          img(src="../images/img-blogs1.png" alt="alt").footer-blog-img
          .footer-blog-info
            a(href= "#").footer-blog-title Lorem ipsum dolor sit ipsum dolor sit.
            span.footer-blog-date.text.text-light Jan,9 2016
        .footer-blog 
          img(src="../images/img-blogs2.png" alt="alt").footer-blog-img
          .footer-blog-info 
            a(href= "#").footer-blog-title Lorem ipsum dolor sit ipsum dolor sit.Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus ut obcaecati fuga delectus quisquam qui rem ipsum nobis, molestias iste aperiam expedita soluta quod itaque eveniet iusto! Asperiores, nobis a!
            span.footer-blog-date.text.text-light Jan,9 2016
        .footer-blog 
          img(src="../images/img-blogs3.png" alt="alt").footer-blog-img
          .footer-blog-info
            a(href= "#").footer-blog-title Lorem ipsum dolor sit ipsum dolor sit.
            span.footer-blog-date.text.text-light Jan,9 2016
      .footer-column 
        h3.footer-heading Instagram 
        .footer-images 
          .footer-img
            img(src="https://source.unsplash.com/random", alt="alt")
          .footer-img
            img(src="https://source.unsplash.com/random", alt="alt")
          .footer-img
            img(src="https://source.unsplash.com/random", alt="alt")
          .footer-img
            img(src="https://source.unsplash.com/random", alt="alt")
          .footer-img
            img(src="https://source.unsplash.com/random", alt="alt")
          .footer-img
            img(src="https://source.unsplash.com/random", alt="alt")
          .footer-img
            img(src="https://source.unsplash.com/random", alt="alt")
          .footer-img
            img(src="https://source.unsplash.com/random", alt="alt")
          .footer-img
            img(src="https://source.unsplash.com/random", alt="alt")
        a(href="#").footer-images-more.text.text-light View more photos...
    .footer-bottom &copy; 2016 MoGo free PSD template by <span>Laaqiq</span>
    //- https://source.unsplash.com/random