header.header
  .container
    .header-top
      a.header-logo(href="index.html") MoGo
      i.fa.fa-bars.header-toggle
      ul.header-menu
        +menuLink("About")
        +menuLink("Service")
        +menuLink("Work")
        +menuLink("Blog")
        +menuLink("Contacts")
        li.header-menu_item
          a.header-menu_icon(href="#")
            i.fa.fa-shopping-cart
        li.header-menu_item
          a.header-menu_icon(href="#")
            i.fa.fa-search
    .header-content
      h2.header-content-caption Creative Template 
      h1.header-content-main Welcome to Mogo
      a.header-content-more(href="#") Learn more 
    .header-bottom
      .header-bottom-item.is-active 
        span.header-bottom-number 01
        span.header-bottom-content Intro
      .header-bottom-item 
        span.header-bottom-number 02
        span.header-bottom-content Work
      .header-bottom-item 
        span.header-bottom-number 03
        span.header-bottom-content About 
      .header-bottom-item 
        span.header-bottom-number 04
        span.header-bottom-content Contacts 