section.quote 
  .container 
    .quote-container
      //- i.fa.fa-angle-left.quote-arrow.quote-arrow-left
      +quoteItem("../images/img-quote-avatar.png", true)
      +quoteItem("../images/img-quote-avatar.png", true)
      +quoteItem("../images/img-quote-avatar.png", true)
      //- i.fa.fa-angle-right.quote-arrow.quote-arrow-right