section.work 
  .container 
    +blockBox("What we do", "Some our work","Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.")
    //- "https://source.unsplash.com/random"
  .work-list
    .work-column
      +workItem("../images/img-work5.png","fa fa-home","Creatively DesignedCreatively DesignedCreatively DesignedCreatively DesignedCreatively DesignedCreatively Designed","Lorem ipsum dolor sit amet.")
      +workItem("../images/img-work2.png","fa fa-home","Creatively Designed","Lorem ipsum dolor sit amet.")
    .work-column
      +workItem("../images/img-work3.png","fa fa-image","Creatively Designed","Lorem ipsum dolor sit amet.")
      +workItem("../images/img-work4.png","fa fa-home","Creatively Designed","Lorem ipsum dolor sit amet.")
    .work-column
      +workItem("https://source.unsplash.com/random","fa fa-heart","Creatively Designed","Lorem ipsum dolor sit amet.","work-item--full")
    .work-column
      +workItem("../images/img-work6.png","fa fa-home","Creatively Designed","Lorem ipsum dolor sit amet.")
      +workItem("../images/img-work7.png","fa fa-home","Creatively Designed","Lorem ipsum dolor sit amet.")
