.device {
  padding-top: 11rem;
  background: linear-gradient(to bottom, rgba(#fff, 0.7), rgba(#fff, 0.5)),
    url("../images/img-device-bg.png") no-repeat center / cover;
  &-img {
    margin: 0 auto -9.3rem;
    // dịch chuyển ảnh xuống dưới
    // transform: translateY(9.3rem);
    // PROBLEM: ảnh đã dịch chuyển đc, nhưng khoảng cách ko đc ổn do sau transform ảnh vẫn ở vị trí cũ
    // -> margin âm
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  // &-media{
  //   text-align: center;
  // }
  @include maxWidth(767px) {
    padding-top: 5rem;
    &-img {
      max-width: 80%;
      margin-bottom: -4.6rem;
    }
  }
  @include maxWidth(413px) {
    &-img {
      margin-bottom: -4.2rem;
    }
  }
}
