.quote {
  padding: 6.5rem 0;
  background-color: $gray-color;
  // &-container {
  //   @include flex(center, space-between);
  // }
  &-arrow {
    color: $dark-gray-color;
    cursor: pointer;
    font-size: 2rem;
    padding: 1rem 2rem;
  }
  &-item {
    padding-left: 5.5rem;
    padding-right: 5.5rem;
    @include flex(center, center);
    outline: none;
  }
  &-icon {
    width: 15rem;
    height: 15rem;
    @include flex(center, center);
    border: 3px solid $third-color;
    flex-shrink: 0;
    margin-right: 6rem;
  }
  &-image{
    width: 22rem;
    object-fit: cover;
    border-radius: 50%;
    flex-shrink: 0;
    margin-right: 2.5rem;
  }
  &-desc {
    font-size: 2.5rem;
    font-family: $secondary-font;
    font-weight: 300;
    line-height: 1.6;
    font-style: italic;
    color: $text-color;
    @include textClamp(3);
  }
  &-author {
    font-family: $third-font;
    font-size: 2.4rem;
    position: relative;
    padding-left: 7rem;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 6rem;
      height: 4px;
      background-color: $primary-color;
    }
  }
  .slick-initialized .slick-slide {
    display: flex;
  }
  // SLICK-SLIDER
  .slick-arrow {
    background-color: transparent;
    border: none;
    color: $dark-gray-color;
    cursor: pointer;
    font-size: 2rem;
    padding: 1rem 2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
  }
  .slick-next {
    right: 0;
  }
  .slick-prev {
    left: 0;
  }
  @include maxWidth(767px) {
    .quote-arrow {
      display: none;
    }
    &-item {
      padding: 0;
      flex-direction: column;
    }
    &-icon {
      width: 10rem;
      height: 10rem;
      margin-right: 0;
      img {
        max-width: 50%;
      }
    }
    &-info {
      margin-top: 3rem;
    }
    &-image{
      width: 16rem;
    }
    &-desc {
      display: block;
      font-size: 1.6rem;
    }
    &-author {
      font-size: 2rem;
    }
  }
}
