.wedo {
  padding: 10rem 0;
  &-img {
    object-fit: cover;
  }
  //
  &-item-header {
    @include flex(center);
    padding: 1.5rem;
    border: 1px solid $light-gray-color;
    cursor: pointer;
  }
  &-item-icon {
    margin-right: 1.5rem;
  }
  &-item-title {
    text-transform: uppercase;
    font-weight: bold;
    @include textClamp(1);
    padding-right: 2rem;
  }
  &-item-arrow {
    margin-left: auto;
    color: $dark-gray-color;
    font-size: 3rem;
  }
  &-item-content {
    padding: 2rem;
    border: 1px solid $light-gray-color;
    border-top: 0;
    font-size: 1.5rem;
    font-style: italic;
    font-family: $secondary-font;
    line-height: 1.6;
    color: $text-color;
    font-weight: 300;
    display: none;
  }
  &-item-text {
    height: 13rem;
    overflow-y: auto;
    padding-right: 2rem;
    @include customScroll($third-color);
  }
  &-item {
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
  &-item.is-active .wedo-item-content {
    display: block;
  }
  @include minWidth(768px){
    &-container {
      @include flex(stretch, space-between);
    }
    &-content,
    &-img {
      width: calc(50% - 1.5rem);
    }
    // CSS GRID
    // &-container{
    //   display: grid;
    //   grid-template-columns: repeat(2, 1fr);
    //   grid-gap: 3rem;
    // }
    // &-img{
    //   width: 100%;
    // }
  }
  @include maxWidth(767px) {
    padding: 5rem 0;
    &-img {
      margin-bottom: 2rem;
    }
  }
}
