extends layout/layout

block vars
	-title = 'Welcome to Gulp Template workflow'
	-bodyClass = 'home-page'

block container
	include blocks/about
	include blocks/number
	include blocks/service
	include blocks/device
	include blocks/wedo
	include blocks/quote
	include blocks/team
	include blocks/work
	include blocks/testimonial
	include blocks/people
	include blocks/story

//- 	p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam earum asperiores voluptas alias molestiae tenetur cum ut quia perferendis repellendus deserunt saepe, ex aliquam nemo ad ipsum, sed necessitatibus dicta.
//- 	div Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
//- 	h2(class="heading" id="heading" ) This is Heading2
//- 	input(type="text" name="email" placeholder="Enter your email" )
//- 	form(action="#" method="post")
//- 	ul.list 
//- 		//- li.list-item
//- 		//- 	h2.list-title List-Title
//- 		//- 	span.list-caption List-Caption  x4
//- 		+ListItem("1")
//- 			p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.	
//- 		+ListItem("2","caption 2")
//- 		+ListItem("3","caption 3") 
//- 		+ListItem("4","caption 4") 
